@import url('https://fonts.cdnfonts.com/css/krona-one');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000;
    color: #f6f6f6;
}


.titulo-destaque {
    color: #22d4fd;
}

.container {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.container__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.container__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.container__conteudo__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* .container__conteudo__links__link {
    padding: 21.5px 0;
    width: 280px;
    text-align: center;
    background-color: #625CD8;
    border-radius: 16px;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
} */

.container__conteudo__links__link {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    width: 378px;
    text-align: center;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    text-decoration: none;
    color: #f6f6f6;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    align-items: center;
}

.container__conteudo__links__link:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: #000000;
    background-color: #22d4fd;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}